<!-- Footer -->
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h2 class="footer-heading mb-3">About us</h2>
                <p class="mb-5">We have educated thousand of students. We have been contributing to society for decades.
                    We believe in spreading knowledge.</p>
            </div>
            <div class="col-lg-2 mx-auto mb-3">
                <div class="row">
                    <div class="col-lg-4 ml-auto">
                        <h2 class="footer-heading mb-md-4 mb-2">Navigation</h2>
                        <ul class="list-unstyled">
                            <li><a href="{% url 'main:event' %}">Activities&Events</a></li>
                            <li><a href="staff-admin/">Admin</a></li>
                        </ul>
                    </div>

                </div>
            </div>

            <div class="col-lg-6 ml-auto mb-2">
                <div class="row">
                    <div class="col-lg-6 ml-auto">
                        <h2 class="footer-heading mb-md-4 mb-2">Contact us</h2>
                        <p>Mohta plot, Tilak ward,<br>
                            Pipariya, Madhya Pradesh<br>
                            Phone: 07576-222476
                        </p>
                        <p>
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14717.187053843822!2d78.3529553!3d22.7543655!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5503d46f4e8f5904!2sMahesh%20Convent%20H.S%20School!5e0!3m2!1sen!2sin!4v1593688099607!5m2!1sen!2sin"
                                width="200" height="50" frameborder="5" style="border: 3px solid  #dd4338;"
                                allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                        </p>
                    </div>

                </div>
            </div>

        </div>
        <div class="row  text-center">
            <div class="col-md-12">
                <div class="border-top pt-5">
                    <p>
                        Made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="#">Maithil
                            Enterprise</a>
                    </p>
                </div>
            </div>

        </div>
    </div>
</footer>
</div>